@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('./assets/fonts/Nunito-ExtraBold.ttf');
}

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('./assets/fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('./assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('./assets/fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('./assets/fonts/Nunito-Medium.ttf');
}

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('./assets/fonts/Nunito-Light.ttf');
}

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('./assets/fonts/Nunito-ExtraLight.ttf');
}

@layer base {
  *,
  *::after,
  *::before {
    @apply font-nunito antialiased;
  }

  body {
    @apply bg-[#f2f2f2];
  }
}

@layer components {
  @keyframes slideLeft {
    0% {
      transform: translateX(-10rem) scale(0.85);
      opacity: 0.7;
    }
    100% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(10rem) scale(0.85);
      opacity: 0.7;
    }

    100% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
  }

  .slide-left {
    animation: slideLeft 0.4s ease-in-out forwards;
  }

  .slide-right {
    animation: slideRight 0.4s ease-in-out forwards;
  }

  .animate-in {
    animation: fadeIn 0.2s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes bounce {
    0% {
      -webkit-transform: translateY(-60%);
      -moz-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
      -o-transform: translateY(-60%);
      transform: translateY(-60%);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
      opacity: 1;
    }
  }

  @keyframes glow-purple {
    0%,
    100% {
      background: linear-gradient(135deg, rgba(97, 94, 240, 0.5) 0%, rgba(97, 94, 240, 0.2) 100%);
    }
    500% {
      background: linear-gradient(135deg, rgba(97, 94, 240, 0.3) 0%, rgba(97, 94, 240, 0.1) 100%);
    }
  }

  @keyframes glow-green {
    0%,
    100% {
      background: linear-gradient(135deg, rgba(0, 255, 0, 0.2) 0%, rgba(0, 255, 0, 0.2) 100%);
    }
    50% {
      background: linear-gradient(135deg, rgba(0, 255, 0, 0.3) 0%, rgba(0, 255, 0, 0.1) 100%);
    }
  }

  .animate-glow-purple {
    -webkit-animation: glow-purple 2s ease-in-out;
    animation: glow-purple 2s ease-in-out;
    animation-delay: -0.2s;
  }

  .animate-glow-green {
    -webkit-animation: glow-green 2s ease-in-out;
    animation: glow-green 2s ease-in-out;
    animation-delay: -0.2s;
  }

  .animation1 {
    -webkit-animation: bounce 0.4s ease-in-out infinite alternate;
    animation: bounce 0.4s ease-in-out infinite alternate;
    animation-delay: -0.4s;
  }

  .animation2 {
    -webkit-animation: bounce 0.4s ease-in-out infinite alternate;
    animation: bounce 0.4s ease-in-out infinite alternate;
    animation-delay: -0.2s;
  }

  .animation3 {
    -webkit-animation: bounce 0.4s ease-in-out infinite alternate;
    animation: bounce 0.4s ease-in-out infinite alternate;
    animation-delay: 0s;
  }
}
